body
{
    background: rgb(124,124,124);
    background: linear-gradient(90deg, rgba(124,124,124,1) 0%, rgba(187,187,187,1) 51%, rgba(124,124,124,1) 100%, rgba(74,255,0,1) 100%);

}
.App
{

    background-color: white;
}