
ul, li {
    list-style:none;
    padding:0;
    margin:0;
}
.listWrapper {
    min-height:1000px;
    max-height:1000px;
    overflow-y:auto;
    width: 100%;
}

#opinions{
    min-width: 95%;
    margin-right: 5%;
}

#imgDiv{
    text-align: center;
    vertical-align: center;
}

#simpleBtn{
    margin-left: 5px;
}