
  .bodyLogin
  {
    
    margin: 0px;
    padding:0px;
    float: left;
    width:100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
  
  }
  .animation
  {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
  }
  .containerLogin {
    background: white;
    padding: 20px 25px;
    border: 4px solid #3f2c2c;
    height: auto;
    box-sizing: border-box;
    position: relative;
    width: 30%;
    
  }
  .btnlogin {
    border: none;
    display: block;
    margin: 35px auto;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  .rowLogin
   {
     margin-bottom: 10px;
    }
  
  h5,h1
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    
    transform: scale(0.9);
    display: inline-block;
  }
  span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
  span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }
  .eLetter
  {
Color :red; 
 }
 .restLetter
 {
  text-transform: uppercase;
  background: linear-gradient(90deg,rgba(44,255,7,1) 17%, rgba(6,188,241,1) 63%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 }

  @keyframes showUp {
    0% {
      transform: scale(0);
    }
    100% {
      transoform: scale(1);
    }
  }
@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}
